temp/results/ai_meeting_results/
myapp/__pycache__/
logs/
temp/
checkpoints/
node_modules/
models/__pycache__/
third_party/sam2/__pycache__/
third_party/sam2/utils/__pycache__/
third_party/silero-vad-master/__pycache__/
*.pyc


